@import "../index.scss";

.card-placeholder-container {
    display: flex;
    justify-content: center;

}

.card-placeholder {
    border-style: dashed;
    border-width: 0.1rem;
    border-radius: 0.5rem;
    width: 5rem;
    height: 7rem;
    padding: 0.5rem;
    margin: 0.75rem;
    @include mobile {
        width: 3.5rem;
        height: 5rem;
        padding: 0.25rem;
        margin: 0.5rem;        
    }
}

.card-placeholder.inactive {
    background-color: #f7f9ff;
    @media (prefers-color-scheme: dark) {
        background-color: #f7f9ff81;
    }
}

.card-placeholder.can-drop {
    background-color: #e6ecff;
}

.card-placeholder.active {
    background-color: #ccd8ff;
}